<div class="modal">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-hidden="true">&times;</button>
    <h3>Add to / Remove from Albums</h3>
  </div>
  <div class="modal-body">
    choices of albums go here
  </div>
</div>