<h1><%= @title %></h1>
<%= render partial: 'users/nav', locals: { user: @user } if @user %>

<ul>
  <% @groups.each do |group| %>
    <li>
      <h4><%= link_to group.name, group_url(group) %></h4>
      <%= render partial: 'groups/join_leave', locals: { group: group } %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $(".join_group, .leave_group").on("ajax:success", function(event) {
    var $links = $("[name=" + event.currentTarget.name + "]");
    $links.toggleClass('nonmember');
    $links.toggleClass('is_member');
  });
</script>