<div class="meta">
  <h1><%= @group.name %></h1>
  <p><%= @group.description.html_safe unless @group.description.nil? %></p>
</div>

<%= render partial: 'nav' %>

<%= render partial: 'photos/photostream', :locals => 
  { photos: @group.photos, size: :thumb, show_owner: true } %>