<h1><%= @group.name %></h1>

<div id="member_list">
  <ul>
    <% @group.members.each do |member| %>
      <li><%= link_to member.name, user_photos_url(member) %></li>
    <% end %>
  </ul>
</div>

<%= render partial: 'photos/photostream' %>