<div class="meta">
  <h1><%= @album.name %></h1>
  <p><%= @album.description.html_safe unless @album.description.nil? %>
</div>

<%= render partial: 'photos/photostream', locals: { photos: @album.photos } %>