<div id="add_remove_groups">
  <h4>Add to / Remove from Groups</h4>
  <ul>
    <% @groups.each do |group| %>
      <% link_class = @photo.group_ids.include?(group.id) ?
        'remove_from' : 'add_to' %>
      <li class="<%= link_class %>" data-id="<%= group.id %>">
        <%= group.name %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $("#add_remove_groups li").on("click", function (event) {
    var thisLink = event.currentTarget;
    var action = thisLink.className === 'remove_from' ?
      'remove_photo' : 'add_photo';
    $.ajax({
      url: "/groups/" + thisLink.getAttribute('data-id') + "/" + action,
      type: "POST",
      data: {"photo_id" : <%= @photo.id %> },
      success: function () {
        $(thisLink).toggleClass('add_to');
        $(thisLink).toggleClass('remove_from');
      }
    });
  });
</script>