<div id="photostream" class="small_photos">
  <% photos.each do |photo| %>
    <div class="photo">
      <a href="<%= photo_url(photo) %>"><img 
        src="<%= photo.image.url(size) %>"></a>
    </div>
  <% end %>
</div>