<div id="photostream" class="small_photos">
  <% photos.each do |photo| %>
    <div class="photo">
      <a href="<%= photo_url(photo) %>"><img 
        src="<%= photo.image.url(size) %>"></a>
      <% show_owner ||= false%>
      <% if show_owner %>
        <br />
        by 
        <% if photo.owner %>
          <%= link_to photo.owner.name, user_url(photo.owner) %>
        <% else%>
          Anonymous
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>