<h1><%= @title %></h1>

<%= render partial: 'groups/nav' if @group %>

<%= render partial: 'users/nav', locals: { user: @user } if @user %>


<%= render :partial => 'photostream', locals: 
  { photos: @photos, size: :small, show_owner: @show_owner || false } %>