// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  display: inline-block;
}

#sidebar {
  display:inline-block;
}

#photostream.small_photos {
  background-color: #eee;
  div.photo {
   display: inline-block;
  }
}