// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  display: inline-block;
}

#sidebar {
  display:inline-block;
}

#photostream {
  div.photo {
   display: inline-block;
  }
}

#add_remove_albums, #add_remove_groups {
  ul {
    list-style: none;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    li {
      cursor: pointer;
    }
  }
  .add_to {
    &:hover {
      color: #FFFFFF;
      background-color: #0000FF;
    }
  }
  .remove_from {
    color: #CCCCCC;
    &:hover {
      color: #FFFFFF;
      background-color: #FF0000;
    }
  }
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}